crawler:
  history:
    description: "Webpage displaying all available downloads. Years are represented in the format of Mínguó calendar."
    path: "http://plvr.land.moi.gov.tw/DownloadHistory_ajax_list"
  download:
    description: "Download path for all available files."
    path: "http://plvr.land.moi.gov.tw/DownloadHistory?type=season&fileName=REQUEST_NAME"
    placeholder:
      requestName: "REQUEST_NAME"